/* utilitys */

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --black: #0D0D0D;
    --white: #F2F2F2;
    --primary: #3889F2;
    --primary-dark: #0554F2;
    --primary-darker: #076DF2;
    font-size: 16px;
    font-family: "Lora", serif;
    --shadow: 9px 9px 8px #e6e6e6, -12px -12px 12px #fefefe;
    --shadow-hover: 4px 4px 4px #DDDDDD, -8px -8px 8px #fefefe;
    --shadow-active: 15px 15px 14px #ededed, -15px -15px 14px #f7f7f7;
    --inner-shadow-hover: inset 4px 4px 8px #dedede, inset -4px -4px 8px #f7f7f7;
    --inner-shadow: inset 12px 12px 12px #e8e8e8, inset -12px -12px 16px #fefefe;
    ;
}



h3 {
    font-size: 2.074rem;
    font-family: "roboto", sans-serif;
    font-weight: 300;
}



.shodow {
    box-shadow: 0px 1px 1px rgba(13, 13, 13, 0.01),
        0px 3px 4px rgba(13, 13, 13, 0.02),
        0px 7px 9px rgba(13, 13, 13, 0.02),
        0px 13px 15px rgba(13, 13, 13, 0.03),
        0px 20px 24px rgba(13, 13, 13, 0.04);

}

/* page */


#root {
    width: 100dvw;
    min-height: 100dvh;
    background-color: var(--white);
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


nav {
    padding: 60px;
    min-width: 40dvw;
    /* background-color: red; */
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: var(--white);

    a {
        background-color: var(--white);
        flex: 0 1 calc(33% - 4rem);
        /* background-color: aqua; */
        padding: 1.6rem 0.4rem;
        box-shadow: var(--shadow);
        border-radius: 8px;
        color: var(--primary);



        img {
            max-width: 100px;
            padding: 1rem;
        }
    }

    a:hover {

        box-shadow: var(--inner-shadow-hover);

    }
}

@media screen and (max-width: 960px) {
    h3 {
        font-size: 1rem;
    }

    nav {
        padding: 1rem;
        width: 100dvw;
        gap: 1.2rem;

        a {
            flex: 0 1 calc(50% - 1.4rem);
            padding: 0.8rem 0.4rem
        }
    }
}